html {
    background: #cfd8de;
    margin: 0;
	height: 100%;
}
h3 {
    margin: 0px;
    padding: 0px;
}
body {
    max-width: 1200px;
    
    min-width: 360px;
    margin: 0px auto;
    background: #f2fdfa;
    padding:0px 5px;
    text-align:center;
}
 
.page-title  {
    font-size:120%;
    text-align: left;
    margin:10px 0px;

    
}
.header-container {
    text-align: left;
    position: relative;
    background: #204337;
    color: #06CABD;
}
.header-container .header-bar  {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.header-container .header-bar  a  {
    color: #06CABD;
    font-size: bold;
}
.account img{
 border: 3px  solid #204337;
}
.footer-container {
    text-align: center;
    height: 60px;
	margin-top: -60px;
	background: #204337;
    color: #06CABD;
   
}
.menu-container {
    text-align: left;
    margin: 5px 5px;
    background: #70baa0;
}
.menu-container a {
    margin: 5px 5px 5px 5px;
    color: #204337;
    font-weight: bold;
    text-decoration: none;
}
 
.site-name {
    widt: 100px;    
    padding: 10px;
}
 
.container  {
    margin: 0 auto;
    min-height: 100%;
	box-sizing: border-box;
}
 
.login-container, .account-container, .onli {
    padding: 5px;
    text-align:left;
    margin: 0 auto;
    min-height: 100%;
	padding-bottom: 60px;
	box-sizing: border-box;
}
.demo-container{
	padding: 5px;
	text-align: center;
    margin: 0 auto;
    min-height: 100%;
	padding-bottom: 60px;
	box-sizing: border-box;
	
}
 
.topic-info-container {
    text-align: left;
    padding: 0px 5px;
}

ul {
    list-style-type: none;
    padding-left: 5px;
    margin:5px;
}
 
 
.navi-item {
    margin: 5px 5px 5px 20px;
}
 
.button-update-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}
 
.button-send-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}
 
.error-message {
    font-size: 90%;
    color: red;
    font-style: italic;
}
.level1{
	padding-left:20px;
	border-radius: 40px 10px;
	margin-left: 20px;
	margin-bottom: 5px;
	background: #204337;
    color: #06CABD;
} 
.level2{
	padding-left:20px;
	border-radius: 40px 10px;
	margin-left: 60px;
	margin-bottom: 5px;
	background: #204337;
    color: #06CABD;
} 
.level3{
	padding-left:20px;
	border-radius: 40px 10px;
	margin-left: 100px;
	margin-bottom: 5px;
	background: #204337;
    color: #06CABD;
} 

table td {
    padding: 5px;
}

h1 { color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 60px; font-weight: normal; line-height: 24px; margin: 0 0 50px; text-align: left; text-shadow: 1px 1px 2px #082b34; } 
h2 { color: #a7e8f8; font-family: 'Julius Sans One', sans-serif; font-size: 22px; font-weight: bold; line-height: 32px; margin: 0 0 24px; text-shadow: 1px 1px 1px #082b34; } 
p { color: #0a677e; font-family: 'Carme', cursive; font-size: 16px; line-height: 24px; margin: 0 0 24px; }
